<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/static/third-party/css/bootstrap.min.css"  data-include="">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
<link href="/static/css/common.css" rel="stylesheet"  data-include="">
<link href="/static/css/colors.css" rel="stylesheet"  data-include="">
<link href="/static/css/info.css" rel="stylesheet"  data-include="">
<link href="/static/css/queue.css" rel="stylesheet"  data-include="">
<link href="/static/css/search.css" rel="stylesheet"  data-include="">
<link href="/static/css/parameters.css" rel="stylesheet"  data-include="">
<link href="/static/css/log.css" rel="stylesheet"  data-include="">