{% extends "template.html" %}


{% block title %} Modification article "{{data.titre}}" (version {{data.revision}}) {% endblock %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
<link href="/static/css/article.css" rel="stylesheet"  data-include="">

<style>
    .custom-control {
        padding-left: 2.5rem;
    }
    .btn{
        margin-right: 5px;
    }
    .article_actions {
        right: 0px;
        position: absolute;
    }
    .article_actions > a > i {
        font-size: 20pt !important;
        top: 3px;
    }
    .title_bar {
        position: relative;
        width: 100%;
    }
    .large-modal {
        margin-left: 5%;
        margin-right: 5%;
        max-width: none;
        width: 90%;
    }
    .bold_row > td {
        font-weight: 900
    }
</style>
{% endblock %}


{% block js %}
<script >
    var data_str = '{{data.json|escapejs}}';
    var _data = JSON.parse(data_str);

    $(document).ready(function(){
        article_init(_data);
    });

    window.addEventListener('beforeunload', function (e) {
      if(ArticleForm.isDataChanged()){
        e.preventDefault();
        e.returnValue = 'Êtes-vous sur de vouloir quitter sans enregistrer';
      }
    });


</script>
<script src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js"></script>
<script src="/static/js/widget/article.js" data-include=""></script>
<script >


</script>
{% endblock %}


{% block content %}

    {% include "ui/widget/article_widget.html" %}
    <div data-template="widget-article"></div>

{% endblock %}


