{% extends "template.html" %}


{% block title %} Modification article "{{data.titre}}" (version {{data.revision}}) {% endblock %}

{% block css %}
<link href="/static/hebdo/css/hebdo_gen.css" rel="stylesheet"  data-include="">

<link href="/static/hebdo/css/hebdo.css" rel="stylesheet"  data-include="">
<link href="/static/hebdo/css/cartouche.css" rel="stylesheet"  data-include="">
<link href="/static/hebdo/css/quatrieme.css" rel="stylesheet"  data-include="">

<style>
    body{
        width: auto !important;
        height: auto !important;
        padding: auto !important;
        font-size: auto;
    }
</style>
{% endblock %}


{% block js %}
<script src="/static/hebdo/js/colhandler.js" data-include=""></script>
<script src="/static/hebdo/js/hebdo.js" data-include=""></script>
<script >


</script>
{% endblock %}


{% block content %}
    {% include "hebdo/hebdo_templates.html" %}
    <div id="hebdo_root">

    </div>
{% endblock %}


