
<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% csrf_token %}
    <!-- Bootstrap CSS -->
    {% include "ui/header/css.html" %}
      {% block css %} {% endblock %}

    <title>{% block title %} {% endblock %}</title>
  </head>
   <!---------------------------
      Menu
  ---------------------------->

  <div class="root-menu">
    <div class="menu-header"><center>Menu</center></div>
    <div class="menu-sep"></div>
    <a class="menu-entry" href="/articles" >Recherche un article</a>
    <a class="menu-entry" href="/article/new">Nouvel article</a>
    <a class="menu-entry" href="/hebdo/list">Hebdo</a>
  </div>
  <body>

    {% include "ui/header/js.html" %}
    {% block js %} {% endblock %}

    {% include "ui/header/ui.html" %}
    {% include "ui/header/modals.html" %}
    <nav class="navbar navbar-expand-lg fond-color-1 color-4">
      <i class="material-icons menu-icon color-4">menu</i>
      <a class="navbar-brand" >OIGCC</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link nav-item color-4" href="/articles" >Rechercher un article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item color-4" href="/hebdo/list" >Liste des Hebdos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item color-4" href="/article/new" >Nouvel article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item color-4" href="/hebdo/new" >Nouvel Hebdo</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block content %} {% endblock %}
    </div>

  </body>
</html>