 .article-entry{
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    background-color: #eee;
    min-height: 120px;
 }
 .action-bar {
    position: absolute;
    top: 5px;
    right: 5px;
 }
 .action-bar > .dropdown,
 .action-bar > a {
    margin-right: 5px;
    font-size: 12px;
    max-height: 48px;
    max-width: 64px;
    padding: 4px;
 }

 .action-bar > a > i {
    font-size: 20pt;
    margin: 0px;
    top: 2px;
 }

 .article-info {
    position: relative;
 }

 .prio_0 {

 }
 .prio_1 {
 }

 .prio_2 {
 }

 .badge-done {
    font-size: 10pt;
    margin: 0px;
    bottom: 10px;
    position: absolute;
    right: 15px;
    text-align: right;
 }

  .badge-done > span {
    font-size: 10pt;
    margin: 0px;
    bottom: 0px;
    margin-bottom: 5px;
 }

 .badge_done_0 {
    display: none;
 }

 .badge_done_2 {
    background-color: var(--color1);
    color: var(--color4);
 }

 .badge_done_3 {
    background-color: var(--color3);
    color: var(--color4);
 }

 .badge_done_4 {
    background-color: var(--color2);
    color: var(--color5);
 }


.large-modal {
    margin-left: 5%;
    margin-right: 5%;
    max-width: none;
    width: 90%;
}

.badge-prio{
    font-size: 18pt ! important;

}

.dropdown-badge {
}

.dropdown-badge-entry-root {

}

.dropdown-badge-entry {
    font-weight: 900;
}

