
@media (max-width: 960px){
    .select-title {
        margin-left: 0px;
        width: calc(100% - 0px);
    }
    .toggle-album{
        margin-left: 0px;
        color: black;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .no-mobile {
        display: none;
    }
    th{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px ! important;
        padding-right: 0px ! important;
    }
    .selection-entry-album  {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px ! important;
        padding-right: 0px ! important;
    }
}
@media only screen and (min-width: 960px){
    .select-title {
        margin-left: 80px;
        width: calc(100% - 80px);
    }
    .toggle-album{
        margin-left: 20px;
        color: black;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .no-mobile {
    }
}



.toggle-album > i {
    font-size: 32pt;
    position: relative;
    top: 2pt;
}


.action-button {
    margin-left: 24px;
}


.toggle-artist{
    color: black;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


#template-root > div {
    width: 100%;
}

.root-control-btn {
    margin-bottom: 20px;
    margin-right: 20px;
}



.filter-bar{

}

.selection-result-count {

}


.selection-entry {
    padding-top: 0px ! important;
    padding-bottom: 0px ! important;
}

.selection-entry-track {
    font-size: 10pt ! important;
    padding-top: 10px ! important;
    padding-bottom: 10px ! important;
}

.selection-entry-album {
    font-size: 11pt ! important;
}

.selection-entry-artist {
    font-size: 12pt ! important;
}

.select-album > i {
    top: 4pt;
    position: relative;
}

.select-artist > i {
    top: 2.5pt;
    position: relative;
}

.selection-result-count > i {
    font-size: 24px;
    position: relative;
}

.selection-result-count  {
    font-size: 14pt;
    font-weight: 600;
    margin-bottom: 10px;
}

.selection-result-count {
    font-size: 14pt ! important;
}

.toggle-artist > i {
    font-size: 32pt;
    position: relative;
    top: 3pt;
}

.selection-action {
    font-size: 40px;
    position: relative;
    top: 5pt;
}

.input-group-append > a  {
    padding-bottom: 0px ! important;
}

/*
th {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}



tr{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 10pt;
}

th{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12pt ! important;
}
*/
