

@media (max-width: 960px){
    .card-login {
        position: fixed;
        top: 20%;
        left: 2%;
        width: 96%;
        height: auto;
    }

    .card-body{
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn-login {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 960px){
    .card-login {
        position: fixed;
        top: 20%;
        left: 35%;
        width: 30%;
        height: auto;
    }

    .btn-login {
        margin-top: 20px;
    }
}