
.queue-title {
    font-size: 16pt;
    font-weight: 500;
}


.queue-root {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 2px;
    border-color: #000;
    border-width: 2px;
}

.queue-root > td {
    border-color: #0000;
}

.queue-root-queue{
    background-color: #63BFEB40;
}

.queue-root-done{
    background-color: #98F5AC40;
}

.queue-root-running{
}

.queue-root-errors{
    background-color: #EB6A6A40;
}


.progress {
    display: block;
}