
<!--
{
  contenu: le contenu html du calendrier
}
-->
<template id="template-hebdo-cal">
    <div class="article article-calendrier">
      <center><img src="/static/hebdo/img/cal.png"></center>
        <p>[[{contenu}]]</p>
    </div>
</template>

<!--
{
  titre:
  sous_tire:
  contenu:
  n_col: nombre de colonne de l'article
  style: "style-1", "style-2" ou "style-3"
}
-->
<template id="template-hebdo-article">
    <div class="article">
        <h1>[[titre]]</h1>
        <h2>[[sous_titre]]</h2>
        <p>[[{contenu}]]</p>
    </div>
</template>

<!--
{
    numero: de l'hebdo
    date_interval: ex "Du 21 au 28 mai 2021"
    page4 : {
        url_sudoku: url de l'image du sudoku
        url_coeur: url de l'image du livre coup de coeur
        article_mediatheque: contenu html de l'article de la médiatheque,
        menus: {
            dates: ex "Du 25 au 28 mai"
            lundi: menu html du lundi
            mardi: menu html du mardi
            mercredi: menu html du mercredi
            jeudi: menu html du jeudi
            vendredi: menu html du vendredi
        }
        n_exemplaires: nombre d'exemplaire
        date_depot: ex "mai 2021"
    },
    calendrier: {
        content: le contenu html du calendrier
    }
}
-->
<template id="template-hebdo-root">
    <div class="hebdo-root">
        <div class="page page-1">
            <div class="cartouche">
                <div class="cart cart-rect-1"></div>
                <div class="cart cart-rect-2"></div>
                <div class="cart cart-tri"></div>
                <img class="cart cart-logo" src="/static/hebdo/img/logo.png" />
                <a class="cart cart-url" href="https://www.ville-lhermitage.fr">www.ville-lhermtiage.fr</a>
                <a class="cart cart-tel" href="tel:+33299786666">02 99 78 66 66</a>
                <a class="cart cart-mail" href="mailto:hebdo@ville-lhermitage.fr">hebdo@ville-lhermitage.fr</a>
                <div class="cart cart cart cart-numero">N°[[numero]]</div>
                <div class="cart cart-date">[[date_interval]]</div>
                <div class="cart cart-titre">L'Hermitage Hebdo</div>
            </div>
            <div class="page-content">
              <div class="pub pub-col-1" ></div>
              <div class="pub pub-col-2" ></div>
            </div>
        </div>

        <div class="page page-2">
            <div class="head-hg">[[date_interval]]</div>
            <div class="head-bd">N°[[numero]]</div>
            <div class="page-content">
                <div class="pub pub-col-1" ></div>
                <div class="pub pub-col-2" ></div>
            </div>
        </div>

        <div class="page page-3">
            <div class="head-bg">[[date_interval]]</div>
            <div class="head-hd">N°[[numero]]</div>
            <div class="page-content">
                <div class="pub pub-col-2" ></div>
                <div class="pub pub-col-1" ></div>
            </div>
        </div>

      <div class="page page-4">
          <div data-template="template-hebdo-page-4" data-var="page4"></div>
      </div>
    </div>
</template>

<!--
{
   url_sudoku: url de l'image du sudoku
   url_coeur: url de l'image du livre coup de coeur
   article_mediatheque: contenu html de l'article de la médiatheque,
   menus: {
      dates: ex "Du 25 au 28 mai"
      lundi: menu html du lundi
      mardi: menu html du mardi
      mercredi: menu html du mercredi
      jeudi: menu html du jeudi
      vendredi: menu html du vendredi
   }
   n_exemplaires: nombre d'exemplaire
   date_depot: ex "mai 2021"
}
-->
<template id="template-hebdo-page-4">
    <div class="page-content">
        <div class="section section-numeros">
            <div class="section-title"><center>Numéros utiles</center></div>
            <div class="section-content">
                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
            </div>
        </div>

        <div class="section section-sudoku">
            <div class="section-title"><center>Sudoku</center></div>
            <div class="section-content">
                <center><img class="jaquette" src="[[url_sudoku]]" /></center>
            </div>
        </div>

        <div class="section section-coeur">
            <img class="coeur" src="/static/hebdo/img/coeur.png" />
            <div class="section-content">
                <p>[[coup_de_coeur]]</p>
            </div>
            <center><img class="jaquette" src="[[url_coeur]]" /></center>
        </div>
    </div>

    <div class="page-content">
        <div class="section section-mediatheque">
            <div class="section-title"><center>Médiathèque</center></div>
            <div class="section-content">
                <p>[[article_mediatheque]]</p>
                <table class="mediatheque-contact">
                    <tbody>
                        <tr>
                            <td>
                                <b>Médiathèque</b><br>
                                02 99 64 01 86<br>
                                mediatheque@ville-lhermitage.fr<br>
                            </td>
                            <td>
                                <b>Cybercommune</b><br>
                                02 99 78 64 88<br>
                                cybercommune@ville-lhermitage.fr<br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="section section-menu">
            <div class="section-title"><center>Menus</center></div>
            <div class="section-content">
                <table class="menus">
                    <tbody>
                        <tr><td colspan="2" rowspan="1" class="menus-head">Menu [[menus.dates]] </td></tr>
                        <tr><td><b>Lundi</b></td><td class="menu-lundi">[[menus.lundi]]</td></tr>
                        <tr><td><b>Mardi</b></td><td class="menu-mardi">[[menus.mardi]]</td></tr>
                        <tr><td><b>Mercredi</b></td><td class="menu-mercredi">[[menus.mercredi]]</td></tr>
                        <tr><td><b>Jeudi</b></td><td class="menu-jeudi">[[menus.jeudi]]</td></tr>
                        <tr> <td><b>Vendredi</b></td><td class="menu-vendredi">[[menus.vendredi]]</td> </tr>
                    </tbody>
                </table>
                En raison des choix difficiles à effectuer, les enfants des écoles maternelles ont un menu unique imposé (Mets
                soulignés) <b>VBF</b> : viande de bœuf d’origine française - <b>AB</b> : Aliments issus de l’Agriculture Biologique - <b>QS</b> : produit
                de qualité supérieur - <b>APO</b> : Appellation d’Origine Contrôlée
            </div>
        </div>
        <div class="section section-mentions">
            <div class="section-title"><center>Publication</center></div>
            <div class="section-content">
                <center>
                    <b>Directeur de la publication :</b><br>
                    Mme Christelle Daoulas<br>
                    ([[n_exemplaires]] exemplaires)<br><br>

                    <b>Dépôt légal :</b><br>
                    [[date_depot]]<br><br>

                    <b>Impression et édition :</b><br>
                    Mairie de L’Hermitage<br>
                    14, rue de la Poste<br>
                    BP 30017<br>
                    35590 L’Hermitage<br>
                    02 99 78 66 66<br><br>
                    <b>Crédits photos :</b><br>
                    plexels.com, pixabay.com<br><br>
                    <b>Pour faire diffuser une information :</b><br>
                    communication@ville-lhermitage.fr<br>
                    Avant chaque mardi midi<br>
                </center>
            </div>
        </div>
    </div>
</template>